<template>
  <div
    class="
      bg-titleLinear
      min-h-[calc(100vh-72px)]
      flex
      items-center
      justify-center
      flex-col
      relative
    "
  >
    <span
      class="
        px-[35px]
        text-black-800
        w-full
        inline-block
        text-[42px]
        leading-[50px]
        text-center
      "
      >Deine Job website</span
    >
    <img class="w-full" src="/images/titleImage.png" />
    <div class="absolute w-full bottom-0 left-0">
      <img src="/images/wave.svg" class="w-full" />
    </div>
  </div>
</template>
