<template>
  <div
    class="
      bg-white
      rounded-b-[12px]
      w-full
      shadow-header
      sticky
      top-0
      z-10
      before:block before:w-full before:h-[5px] before:bg-topHeaderLine
    "
  >
    <div class="ml-auto pt-[22px] pb-[26px] pr-[17px] text-right">
      <span
        class="
          text-gray-800
          hover:underline
          cursor-pointer
          text-[14px]
          tracking-[0.84px]
          hover:text-gray-300
        "
        >Login</span
      >
    </div>
  </div>
</template>
