<template>
  <div class="w-full bg-white flex flex-col justify-center">
    <AllTabs
      :allTabs="allTabs"
      :choosenTab="choosenTab"
      @changeTab="changeTab"
    />
    <TabsContent
      :items="allTabs[choosenTab].items"
      :choosenTab="choosenTab"
      :title="allTabs[choosenTab].title"
    />
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import AllTabs from './TabsAll.vue'
import TabsContent from './TabsContent.vue'
import type { ITab } from './types'
export default Vue.extend({
  name: 'Tabs',
  components: {
    AllTabs,
    TabsContent,
  },
  props: {
    allTabs: Array as PropType<ITab[]>,
  },
  data() {
    return {
      choosenTab: 0,
    }
  },
  methods: {
    changeTab(newTab: number) {
      this.choosenTab = newTab
    },
  },
})
</script>
