<template>
  <div>
    <p class="text-[21px] text-center px-[30px]">{{ title }}</p>
    <div class="item-content">
      <img :src="items[0].img" class="relative z-[2] bottom-[-60px]" />
      <TabsTextItem
        :num="1"
        :text="items[0].text"
        class="pl-[20px] relative z-[1] bottom-[-45px]"
      />
    </div>
    <div
      class="
        item-content
        pseudo-ball
        pt-[30px]
        before:w-[208px]
        before:h-[208px]
        before:top-[-115px]
        before:left-[-60px]
        before:opacity-50
      "
    >
      <img src="/images/waveCenterBlockTop.svg" class="w-full relative top-0" />
      <TabsTextItem
        :num="2"
        :text="items[1].text"
        class="pl-[35px] pt-[10px] bg-centerBlockLinear z-[2]"
      />
      <div class="bg-centerBlockLinear w-full">
        <img
          :src="items[1].img"
          class="max-w-[250px] ml-auto relative z-[4]"
          :style="{ ...secondRowMargins }"
        />
      </div>
      <img
        src="/images/waveCenterBlockBottom.svg"
        class="w-full relative z-[2] bottom-0"
      />
    </div>
    <div
      class="
        item-content
        pseudo-ball
        before:z-[1]
        before:w-[303px]
        before:h-[303px]
        before:top-[-50px]
        before:left-[-70px]
      "
    >
      <TabsTextItem :num="3" :text="items[2].text" class="pl-[54px] z-[2]" />
      <div class="w-full z-[2]">
        <img
          :src="items[2].img"
          class="w-[281px] ml-auto mb-[50px]"
          :style="{ ...thirdRowMargins }"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import TabsTextItem from './TabsTextItem.vue'
import type { IItem } from './types'
export default Vue.extend({
  name: 'TabsContent',
  components: {
    TabsTextItem,
  },
  props: {
    choosenTab: Number,
    title: String,
    items: Array as PropType<IItem[]>,
  },
  computed: {
    thirdRowMargins() {
      return {
        marginRight:
          this.choosenTab === 0
            ? '10px'
            : [1, 2].includes(this.choosenTab)
            ? '40px'
            : '0',
        marginTop: [1, 2].includes(this.choosenTab) ? '20px' : '0',
      }
    },
    secondRowMargins() {
      return {
        marginTop: this.choosenTab === 1 ? '-35px' : '30px',
        marginRight: this.choosenTab === 1 ? 'auto' : '60px',
      }
    },
  },
})
</script>
