<template>
  <div class="inline-flex w-full">
    <p class="text-[130px] leading-[100px] text-gray-900">{{ num }}.</p>
    <p
      class="
        inline-flex
        items-end
        pb-[10px]
        tracking-[0.47px]
        px-[20px]
        text-gray-900
      "
    >
      {{ text }}
    </p>
  </div>
</template>

<script>
import Vue from 'vue'
export default Vue.extend({
  name: 'TabsTextItem',
  props: {
    num: Number,
    text: String,
  },
})
</script>
