<template>
  <div
    class="
      grid
      w-[486px]
      grid-cols-3
      border-[1px] border-gray-500 border-solid
      bg-gray-500
      rounded-[12px]
      overflow-hidden
      gap-[1px]
      mx-[20px]
      mb-[30px]
      transition-transform
      self-center
    "
    :style="{ transform: `translateX(${mainTransition})` }"
  >
    <div
      v-for="(tab, index) in transformTabs"
      :key="index"
      @click="chooseNewTab(index)"
      class="
        cursor-pointer
        transition-all
        flex
        items-center
        justify-center
        w-[160px]
        h-[40px]
      "
      :style="{ ...tab.styles }"
    >
      {{ tab.name }}
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import type { ITab } from './types'
export default Vue.extend({
  props: {
    choosenTab: Number,
    allTabs: Array as PropType<ITab[]>,
  },
  computed: {
    transformTabs() {
      return (this.allTabs ?? []).map((tab, i) => ({
        ...tab,
        styles: {
          backgroundColor: i === this.choosenTab ? '#81E6D9' : '#FFFFFF',
          color: i === this.choosenTab ? '#E6FFFA' : '#319795',
        },
      }))
    },
    mainTransition() {
      return `${this.choosenTab > 1 ? '-' : ''}${
        this.choosenTab === 1 ? '0' : '80'
      }px`
    },
  },
  methods: {
    chooseNewTab(index: number) {
      this.$emit('changeTab', index)
    },
  },
})
</script>
