@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

.item-content {
  @apply flex flex-col justify-center items-center relative;
}

.pseudo-ball {
  @apply before:absolute before:rounded-full before:block before:bg-gray-100;
}
