<template>
  <div
    class="
      bg-white
      rounded-t-[12px]
      w-full
      shadow-footer
      sticky
      z-10
      bottom-0
      px-[20px]
      py-[25px]
    "
  >
    <button
      class="
        w-full
        rounded-[12px]
        tracking-[0.84px]
        appearance-none
        h-10
        bg-commonButton
        text-gray-200
        transition-all
        text-[14px]
        hover:bg-hoverButton
      "
    >
      Kostenlos Registrieren
    </button>
  </div>
</template>
