<template>
  <div class="w-screen max-w-[420px] bg-blue-300 h-screen overflow-auto relative max-h-screen">
    <Header />
    <div class="overflow-x-hidden">
      <TitlePart />
      <Tabs :allTabs="allTabs"/>
    </div>
    <Footer />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Tabs from '@/components/Tabs/index.vue';
import TitlePart from '@/components/TitlePart/index.vue';
import Header from '@/components/Header/index.vue';
import Footer from '@/components/Footer/index.vue';

export default Vue.extend({
  components: {
    Tabs,
    TitlePart,
    Header,
    Footer
  }, 
  data() {
    return {
      allTabs: [
      {
        name: 'Arbeitnehmer',
        title: 'Drei einfache Schritte zu deinem neuen Job',
        items: [
          {
            text: 'Erstellen dein Lebenslauf',
            img: '/Arbeitnehmer/first.png',
          },
          {
            text: 'Erstellen dein Lebenslauf',
            img: '/Arbeitnehmer/second.png'
          },
          {
            text: 'Mit nur einem Klick bewerben',
            img: '/Arbeitnehmer/third.png'
          }
        ]
      },
      {
        name: 'Arbeitgeber',
        title: 'Drei einfache Schritte zu deinem neuen Mitarbeiter',
        items: [
          {
            text: 'Erstellen dein Unternehmensprofil',
            img: '/Arbeitgeber/first.png',
          },
          {
            text: 'Erstellen ein Jobinserat',
            img: '/Arbeitgeber/second.png'
          },
          {
            text: 'Wähle deinen neuen Mitarbeiter aus',
            img: '/Arbeitgeber/third.png'
          }
        ]
      },
      {
        name: 'Temporärbüro',
        title: 'Drei einfache Schritte zur Vermittlung neuer Mitarbeiter',
        items: [
          {
            text: 'Erstellen dein Unternehmensprofil',
            img: '/Temporärbüro/first.png',
          },
          {
            text: 'Erhalte Vermittlungs- angebot von Arbeitgeber',
            img: '/Temporärbüro/second.png'
          },
          {
            text: 'Vermittlung nach Provision oder Stundenlohn',
            img: '/Temporärbüro/third.png'
          }
        ]
      },
    ]
  }}
})
</script>
